<div class="user-show-back-img">
	<div class="container">
		<div class="row user-show-back-color">
			<div class="user_info user-show-box col-lg-3 text-center">
				<%= image_tag @user.profile_image.to_s, class: "profile_image_show round_img" %>

				<% if @user.nickname? %>
					<h3><%= @user.nickname %></h3>
				<% else %>
					<h3><%= @user.name %></h3>
				<% end %>

				<h4 id="user_level">レベル.<%= @user.level_id %>
				</h4>

				<!-- 次のレベルまで -->
				<div id="next_level" class="margin-bottom">
					<%= render 'gauge', percentage: @percentage %>
				</div>

				<% if @user == current_user %>
					<%= link_to edit_user_path(@user.id), class: "btn btn-secondary col-lg-12" do %>
						<i class="fas fa-user-edit">
							編集
						</i>
					<% end %>
				<% end %>

			</div>

			<div class="modal fade" id="modal-level-up" tabindex="-1">
			    <div class="modal-dialog modal-dialog-centered">
			        <!-- 3.モーダルのコンテンツ -->
			        <div class="modal-content modal-level">
			            <!-- 4.モーダルのヘッダ -->
			            <div class="modal-header level-modal-text">
			            	<h4 class="modal-title" id="modal-label">レベルがアップしました！！
			                </h4>
			                <button type="button" class="close" data-dismiss="modal">
			                    <span aria-hidden="true">
			                    &times;
			                	</span>
			                </button>
			            </div>
			            <!-- 5.モーダルのボディ -->
			            <div class="modal-body level-modal-text">
			                ツイッターでレベルアップをつぶやこう！
			            </div>
			            <!-- 6.モーダルのフッタ -->
			            <div class="modal-footer">
				            <button type="button" class="btn btn-primary">
				            	<a href="https://twitter.com/intent/tweet">
				            		<i class="fab fa-twitter-square level-modal-text">
				            			ツイートする
				            		</i>
				            	</a>
				            </button>
			                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる
			                </button>
			            </div>
			        </div>
			    </div>
			</div>

			<div class="col-lg-9 user-show-box">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active" id="hobby-tab" data-toggle="tab" href="#hobby" role="tab" aria-controls="hobby" aria-selected="true">投稿</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="challenge-tab" data-toggle="tab" href="#challenge" role="tab" aria-controls="challenge" aria-selected="false">チャレンジ
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="surprise-tab" data-toggle="tab" href="#surprise" role="tab" aria-controls="surprise" aria-selected="false">びっくり
				    </a>
				  </li>
				</ul>

			<!-- ユーザ投稿一覧 -->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active user_hobby_index" id="hobby" role="tabpanel" aria-labelledby="hobby-tab">
						<div class="row">
							<% @hobbies.each do |hobby| %>
								<div class= "col-lg-6 text-center" >
									<div class="hobby_box margin-bottom">
										<%= link_to hobby_path(hobby.id) do %>
											<div class="hobby_img mx-auto margin-top">
												<!-- 写真がなければ表示しない -->
												<% if hobby.images. == [] %>
													<div class="bx-wrapper">
														<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_index">
													</div>
												<% else %>
												<!-- 写真が一枚ならスライドショーをさせない -->
													<% if hobby.images.length == 1 %>
														<div class="bx-wrapper user_hobby_img">
													<% else %>
														<div class="slider_index user_hobby_img">
													<% end %>
													<% hobby.images.each do |i| %>
														<%= image_tag i.to_s, class: "hobby_img_index" %>
													<% end %>
													</div>
												<% end %>
												<div class="user_hobby_title"><%= hobby.title %>
												</div>
											</div><br>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</div>

			<!-- チャレンジ一覧 -->
					<div class="tab-pane fade" id="challenge">
						<div class="row">
							<% @user.challenges.each do |challenge| %>
								<div class= "col-lg-6 text-center" >
									<div class="hobby_box margin-bottom">
										<%= link_to hobby_path(challenge.hobby_id) do %>
											<div class="hobby_img mx-auto margin-top">
												<!-- 写真がなければ表示しない -->
												<% if challenge.hobby.images. == [] %>
													<div class="bx-wrapper">
														<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_index">
													</div>
												<% else %>
												<!-- 写真が一枚ならスライドショーをさせない -->
													<% if challenge.hobby.images.length == 1 %>
														<div class="bx-wrapper user_hobby_img">
													<% else %>
														<div class="slider_index user_hobby_img">
													<% end %>
														<% challenge.hobby.images.each do |i| %>
															<%= image_tag i.to_s, class: "hobby_img_index" %>
														<% end %>
														</div>
												<% end %>
												<div class="user_hobby_title"><%= challenge.hobby.title %>
												</div>
											</div><br>
										<% end %>

										<% if @user == current_user %>
											<%= form_for challenge, url: level_path(challenge.id), remote: true do |f| %>
												<%= f.submit 'チャレンジした！', class: "btn btn-outline-info" %>
											<% end %>
											<p id="challenge_times_<%= challenge.id %>" class="challenge_times">
												<%= challenge.times %> 回
											</p>

											<!-- ボタンを押すとフォームが出現 -->
											<button type="button" class="btn btn-outline-success challenge_calendar" data-toggle="modal" data-target="#modal<%= challenge.id %>">カレンダーに登録する
											</button>
											<div class="modal fade" id="modal<%= challenge.id %>" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
											  <div class="modal-dialog modal-dialog-centered" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <h5 class="modal-title" id="label1">日時登録</h5>
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											          <span aria-hidden="true">&times;</span>
											        </button>
											      </div>
											      <%= form_for @event, remote: true do |f| %>
											       	<div class="modal-body">

											         <!-- カレンダー登録後、モーダルを閉じるために使用する -->
											        	<%= hidden_field_tag :challenge, challenge.id %>

													  	<%= f.hidden_field :title, value: challenge.hobby.title %>
													  	<div class="date_time">
															<label class="control-label" for="">開始日:</label>
															<%= f.text_field :start, class: 'datetimepicker-input start', data: {toggle: "datetimepicker", target: ".start"}, autocomplete: 'off' %>
													 	</div>

									  					<div class="date_time">
													  		<label class="control-label" for="">終了日:</label>
													  		<%= f.text_field :end, class: 'datetimepicker-input end', data: {toggle: "datetimepicker", target: ".end"}, autocomplete: 'off' %>
														</div>
											      	</div>
											      	<div class="modal-footer">
											        	<%= f.submit '登録', class: 'btn btn-primary' %>
											        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
											        	</button>
											      	</div>
											     <% end %>
											    </div>
											  </div>
											</div>
										<% else %>
											<p id="challenge_times_<%= challenge.id %>" class="challenge_times">
												<%= challenge.times %> 回
											</p>
										<% end %><!-- if文のend -->
									</div>
								</div>
							<% end %><!-- each文のend -->
						</div>
					</div>

			<!-- びっくり一覧 -->
					<div class="tab-pane fade" id="surprise">
						<div class="row">
							<% @user.surprises.each do |surprise| %>
								<div class= "col-lg-6 text-center">
									<div class="hobby_box margin-bottom">
										<%= link_to hobby_path(surprise.hobby_id) do %>
											<div class="hobby_img mx-auto margin-top">
												<!-- 写真がなければ表示しない -->
												<% if surprise.hobby.images. == [] %>
													<div class="bx-wrapper">
														<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_index">
													</div>
												<% else %>
												<!-- 写真が一枚ならスライドショーをさせない -->
													<% if surprise.hobby.images.length == 1 %>
														<div class="bx-wrapper user_hobby_img">
													<% else %>
														<div class="slider_index user_hobby_img">
													<% end %>
													<% surprise.hobby.images.each do |i| %>
														<%= image_tag i.to_s, class: "hobby_img_index" %>
													<% end %>
													</div>
												<% end %>
												<div class="user_hobby_title"><%= surprise.hobby.title %></div>
											</div><br>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 　ツイート用 -->
	<script src="https://platform.twitter.com/widgets.js" charset="utf-8">
	</script>

<!-- カレンダー登録時、カレンダーで日時を選べる -->
<%= javascript_include_tag "user_show" %>