<div class="text-center">
	<div class="hobby-edit-filed">
		<div class="hobby-edit-box">
			<% if flash[:danger] %>
				<div class="flash">
					<%= flash[:danger] %>
				</div>
			<% end %>
			<%= form_for @hobby do |f| %>
				<%= f.file_field :images, multiple: true, id: "hobby_img_edit" %><br>
				<div id="img_prev_show">
			<!-- 画像をプレビュ -->
					<% @hobby.images.each do |i| %>
						<%= image_tag i.to_s, class: "img_prev" %>
					<% end %>
				</div>
				<%= f.label :title, "タイトル" %><br>
				<%= f.text_field :title, class: "margin-bottom col-lg-8" %><br>
				<%= f.label :body, "本文" %><br>
				<%= f.text_area :body, class: "margin-bottom col-lg-8" %>
				<br>
				<%= label_tag :genre, "ジャンル" %>
				<%= select_tag 'genre', options_from_collection_for_select(Genre.all, :id, :genre_name, { :selected => @hobby.genre_id }), class: "margin-bottom" %><br>
				<%= label_tag :provisional, "予算" %><br>
				<%= number_field_tag 'provisional', @hobby.budget, class: "col-lg-4 margin-bottom" %>
				<%= select_tag 'unit', options_for_select([['円', 'a'], ['千円','b'],['万円', 'c']]), class: "margin-bottom col-lg-2" %><br>
				<%= f.label :hobby_point, "経験値設定" %>
				<%= f.select :hobby_point, [1,2,3,4,5,6,7,8,9,10], class: "margin-bottom" %><br>

				<%= f.submit "更新する", class: "margin-bottom col-lg-8 btn btn-secondary" %>

			<% end %>
		</div>
	</div>
</div>


<script type="text/javascript">
$(function() {
   function readURL(input) {
   	$('#img_prev_show').html("");
       for(i=0; i<input.files.length; i++){
       	reader = new FileReader();
	    reader.readAsDataURL(input.files[i]);
        reader.onload = function (e) {
	      $('#img_prev_show').append('<img src="'+ e.target.result + '" class="img_prev img_prev_add">');
	       }
       }
   }
   $("#hobby_img_edit").change(function(){
       readURL(this);

   });
 });
</script>
