<h1>趣味一覧</h1>

<% @hobbies.each do |hobby| %>
		<div class= hobby_box >
			<p><%= hobby.user.profile_image %>
				<% if hobby.user.nickname == nil %>
					<%= hobby.user.name %>
				<% else %>
					<%= hobby.user.nickname %>
				<% end %>
			</p>
				<%= link_to hobby_path(hobby.id) do %>
				<div class="hobby_img">
					<!-- 写真が一枚ならスライドショーをさせない -->
					<% if hobby.images.length == 1 %>
						<div class="bx-wrapper">
					<% else %>
						<div class="slider_index">
					<% end %>
							<% hobby.images.each do |i| %>
								<%= image_tag i.to_s, class: "hobby_img_index" %>
							<% end %>
						</div>
					<p><%= hobby.title %></p>
				</div>
			<% end %>
		</div>
<% end %>