<h1>趣味一覧</h1>

<!-- 検索フォーム -->
<%= search_form_for @q do |f| %>
	<%= f.label :genre, "ジャンル" %>
	<%= f.select :genre_id_eq, options_for_select([["運動系", 1], ["頭脳系", 2], ["作る系", 3], ["学ぶ系", 4], ["自然系", 5], ["その他", 6]]), include_blank: true %>

	<%= f.label :budget, "予算" %>
	<%= f.number_field :budget_gteq %>円〜
	<%= f.number_field :budget_lt %>円未満

	<%= f.submit "検索" %>
<% end %>

<% @hobbies.each do |hobby| %>
		<div class= hobby_box >
			<% if hobby.user.profile_image? %>
				<%= image_tag hobby.user.profile_image.to_s, class: "round_img hobby_index_profile_img" %>
			<% else %>
				<img src="../../assets/default.png" class="round_img hobby_index_profile_img">
			<% end %>

			<% if hobby.user.nickname == nil %>
				<%= hobby.user.name %>
			<% else %>
				<%= hobby.user.nickname %>
			<% end %>
				<br>

			<%= link_to hobby_path(hobby.id) do %>
				<div class="hobby_img">
					<!-- 写真がなければノーイメージを表示-->
					<% if hobby.images. == [] %>
						<div class="bx-wrapper">
							<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_index">
						</div>
					<% else %>
					<!-- 写真が一枚ならスライドショーをさせない -->
						<% if hobby.images.length == 1 %>
							<div class="bx-wrapper">
						<% else %>
							<div class="slider_index">
						<% end %>
								<% hobby.images.each do |i| %>
									<%= image_tag i.to_s, class: "hobby_img_index" %>
								<% end %>
							</div>
					<% end %>
					<p><%= hobby.title %></p>
				</div>
			<% end %>
		</div>
<% end %>