<!-- 写真がなければノーイメージを表示-->
<% if @hobby.images == [] %>
	<div class="bx-wrapper">
	<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_show">
	</div>
<% else %>
<!-- 写真が一枚ならスライドショーをさせない -->
	<% if @hobby.images.length == 1 %>
		<div class="bx-wrapper">
	<% else %>
		<div class="slider_show">
	<% end %>
		<% @hobby.images.each do |i| %>
			<%= image_tag i.to_s, class: "hobby_img_show" %>
		<% end %>
		</div>
<% end %>

<!-- チャレンジボタン -->
<div id="challenge_button">
	<%= render 'challenges/button', hobby: @hobby %>
</div>

<!-- びっくりボタン -->
<div id="surprise_button">
	<%= render 'surprises/button', hobby: @hobby %>
</div><br>

<% if @hobby.user.profile_image? %>
	<%= image_tag @hobby.user.profile_image.to_s,  class: "round_img profile_image_show" %>
<% else %>
	<img src="../../assets/default.png" class="round_img profile_image_show">
<% end %>

<% if @hobby.user.nickname == nil %>
	<%= @hobby.user.name %>
<% else %>
	<%= @hobby.user.nickname %>
<% end %>

<h3><%= @hobby.title %></h3>
<p><%= @hobby.body %></p>
<p><%= @hobby.genre.genre_name %></p>
<p><%= @hobby.budget %></p>

<% if @hobby.user == current_user %>
	<p><%= link_to '編集する', edit_hobby_path(@hobby.id) %> /
		<%= link_to '削除する', hobby_path, method: :delete %>
	</p>
<% end %>