<div class="container">
	<h1>ユーザ一覧</h1>
	<div class="row">
		<% @users.each do |user| %>
			<div class="margin-bottom text-center col-lg-3">
				<%= link_to admin_user_path(user.id) do %>
					<div class="admin-user-box">
						<%= image_tag user.profile_image.to_s, class: "round_img admin_index_profile_img" %><br>

						<% if user.nickname? %>
							<%= user.nickname %>
						<% else %>
							<%= user.name %>
						<% end %>
						<br>
						<p>レベル. <%= user.level_id %></p>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
