<div class="user_info">

		<%= image_tag @user.profile_image.to_s, class: "profile_image_show round_img" %>

		<% if @user.nickname == nil %>
			<h3><%= @user.name %></h3>
		<% else %>
			<h3><%= @user.nickname %></h3>
		<% end %>

		<P id="user_level">レベル.<%= @user.level_id %>
		</P>
</div>

<!-- ユーザ投稿一覧 -->
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active user_hobby_index" id="hobby" role="tabpanel" aria-labelledby="hobby-tab">
			<% @hobbies.each do |hobby| %>
				<div class= hobby_box >
					<%= link_to hobby_path(hobby.id) do %>
					<div class="hobby_img">
							<!-- 写真がなければ表示しない -->
						<% if hobby.images. == [] %>
							<div class="bx-wrapper">
								<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_index">
							</div>
						<% else %>
						<!-- 写真が一枚ならスライドショーをさせない -->
							<% if hobby.images.length == 1 %>
								<div class="bx-wrapper user_hobby_img">
							<% else %>
								<div class="slider_index user_hobby_img">
							<% end %>
									<% hobby.images.each do |i| %>
										<%= image_tag i.to_s, class: "hobby_img_index" %>
									<% end %>
								</div>
						<% end %>
						<div class="user_hobby_title"><%= hobby.title %></div>
					</div><br>
				<% end %>
				</div>
		<% end %>
		</div>