<!DOCTYPE html>
<html>
  <head>
    <title>Arbby</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--  fontawsomeを読み込み -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/63e05e9e02.js" crossorigin="anonymous">
    </script>
  </head>
  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
        <div id="current_events" data-event-id="<%= current_user.events.to_json %>"></div>
          <% if current_user.nickname? %>
            <li><%= link_to current_user.nickname, user_path(current_user.id) %></li>
          <% else %>
            <li><%= link_to current_user.name, user_path(current_user.id) %></li>
          <% end %>

          <li><%= link_to "趣味一覧へ", hobbies_path %>
          </li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %>
          </li>
          <li><%= link_to "会員登録", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
